[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "==1.0.0"
pillow = "==9.5.0"
django = "*"
psycopg2-binary = "*"
python-decouple = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.11"
